.App {
    text-align: center;
}

.App-header {
    height: 150px;
    margin: 2em 0 1em 0;
    padding: 2em;
    color: white;
    line-height: 1.5em;
    font-size: 1.5em;
    background: transparent;
}

.App-content {
    margin: 1em 0 1em 0;
    padding: 2em;
}

.avatar {
    position: absolute !important;
    right: 0 !important;
    top: 50% !important;
    transform: translate3d(0, -50%, 0) !important;
}

.avatar:hover {
    cursor: pointer;
}